<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.armory.watch</string>
    <key>ProgramArguments</key>
    <array>
        <string>VENV_PY</string>
        <string>-m</string>
        <string>armory.cli</string>
        <string>watch</string>
        <string>--config</string>
        <string>ARMORY_HOME/config.yaml</string>
    </array>
    <key>WorkingDirectory</key>
    <string>ARMORY_HOME</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>ARMORY_HOME</key>
        <string>ARMORY_HOME</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>LOGPATH</string>
    <key>StandardErrorPath</key>
    <string>LOGPATH</string>
</dict>
</plist>
